<div class="row">
    <div class="col-md-9">
        <!-- <subheader title="Blacklist">

        </subheader> -->
        <h5 class=" page-title-sep">Accounts Blacklist</h5>
       <p><small class="text-muted">Accounts not accepted to carryout transactions. </small></p>
        <!-- <p *ngIf="errormesg!=''">{{errormesg}}</p> -->
    </div>
    <div class="col-md-3"><button class="btn btn-danger pull-right" (click)="openBackDropCustomClass(content)"><i class="ft ft-shield"></i>&nbsp;Add To BlackList</button></div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title text-primary font-15"> Add Account To Blacklist</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div class="form-group">
                    <label for="exampleInputEmail1">User Id</label>
                    <input aria-describedby="emailHelp" [(ngModel)]="data.subscriptionid" class="form-control" id="subscriptionid" type="text">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input aria-describedby="emailHelp" [(ngModel)]="data.firstname" class="form-control" id="firstname" type="text">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input aria-describedby="emailHelp" [(ngModel)]="data.lastname" class="form-control" id="lastname" type="text">
                </div> -->
                <form [formGroup]="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Id</label>
                        <input class="form-control" formControlName="subscriptionid"  id="validationCustom02" type="text">
                        <div *ngIf="subscriptionid.touched && subscriptionid.invalid"  class="text-danger">
                            <div *ngIf="!!subscriptionid.errors?.required" style="font-size: 80%; margin-top: 0.25rem;">
                                User id is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input class="form-control" formControlName="firstname" id="validationCustom03" type="text" >
                        <div *ngIf="firstname.touched && firstname.invalid"  class="text-danger">
                            <div *ngIf="!!firstname.errors?.required" style="font-size: 80%; margin-top: 0.25rem;">
                                    First Name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input class="form-control" formControlName="lastname" id="validationCustom03" type="text" >
                            <div *ngIf="lastname.touched && lastname.invalid"  class="text-danger">
                                <div *ngIf="!!lastname.errors?.required" style="font-size: 80%; margin-top: 0.25rem;">
                                        Last Name is required
                                </div>
                            </div>
                        </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger" (click)="addmethod()" [disabled]="!form.valid"><i class="ft ft-shield mr-2"></i>Blacklist</button>
                    </div>
                </form>
            </div>

            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="addmethod()"><i class="ft ft-shield mr-2"></i>Blacklist</button>
            </div> -->
        </ng-template>
        <div>
            <div id="dt-base_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                        <div class="col-md-3">
                                <div class="input-group-icon input-group-icon-left input-group-lg mb-4"><span class="input-icon input-icon-left"><i class="ti-search"></i></span><input class="form-control font-weight-light border-0" type="text" placeholder="Search ..." style="box-shadow:0 3px 6px rgba(10,16,20,.15);"></div>
    
                        </div>
                    <div class="col-md-9">
                        <!-- Search form -->
                        <!-- <div class="form-inline  mb-3 pull-right">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <input class="form-control form-control-sm ml-3" type="text" placeholder="Search" [(ngModel)]="term"
                            aria-label="Search">
                        </div> -->
                        <!-- <div id="dt-base_filter" class="dataTables_filter pull-right mr-3 mb-4"><input type="search" [(ngModel)]="term" class="form-control form-control-sm" placeholder="Search" aria-controls="dt-base"></div> -->
                    </div>
                </div>
                

                <div>
                    <table class="table table-striped table-hover table-hover w-100 dataTable" id="dt-base" style="overflow-x:auto;">
                        <thead>
                            <tr>
                                <th class="text-left">User Id</th>
                                <th class="text-left">First Name</th>
                                <th class="text-left">Last Name</th>
                                <!-- <th class="text-left">Phone Number</th> -->
                                <!-- <th class="text-left">Account Number</th> -->
                                <th class="delete">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of list|filter:term">
                                <td>{{i.subscriptionid}}</td>
                                <td>{{i.firstname}}</td>
                                <td>{{i.lastname}}</td>
                                <!-- <td>{{i.phone}}</td> -->
                                <!-- <td>{{i.accountno}}</td> -->
                                <td class="delete" (click)="delete(i._id) "><a style="cursor:pointer"><i class="text-danger ti-close"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <div> 
                                    <mat-progress-spinner  style="margin:0 auto;"
                                        class = "tp-margin"
                                        [diameter]="50" 
                                        [color] = "color"
                                        [mode] = "mode"
                                        [value] = "values" *ngIf="showSpinner">
                                     </mat-progress-spinner>
                                </div>
                                <div *ngIf="show" >
                                    <div class="text-center animated zoomIn  mt-3">
                                            <img src="assets/img/image.png" class="animated shake">
                                        <p>No Transactions Yet</p> 
                                    </div>
                                </div>
                        </div>
                </div>

                <div class="row" *ngIf="list?.length > 0">
                    <div class="col-sm-12 col-md-9">

                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="dataTables_paginate paging_simple_numbers" id="dt-base_paginate">
                            <ul class="pagination justify-content-end">
                                <!-- <li class="paginate_button page-item previous disabled" id="dt-base_previous"><a href="#" aria-controls="dt-base" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li> -->
                                <li class="paginate_button page-item active"><a href="#" aria-controls="dt-base" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                <!-- <li class="paginate_button page-item "><a href="#" aria-controls="dt-base" data-dt-idx="2" tabindex="0" class="page-link">2</a></li> -->
                                <!-- <li class="paginate_button page-item next" id="dt-base_next"><a href="#" aria-controls="dt-base" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #LoginModal let-modal>
    <app-modal></app-modal>
</ng-template>
