:host {
    background-color: white;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 15px 30px 15px;
}

.auth-content {
    max-width: 400px;
    flex-basis: 400px;
    /* box-shadow: 0 5px 20px #d6dee4; */
}

.home-link {
    position: absolute;
    left: 5px;
    top: 10px;
}

h2 {
    text-transform: capitalize;
}

.btn-primary {
    background-color: #2949EF;
    border-color: #2949EF;
}

.my-custom-class .arrow::before {
  border-top-color: #2949EF;
}
