<div class="row">
    <div class="col-md-9">
        <subheader title='Users'>
        </subheader>
    </div>
    <div class="col-md-3">
        <button *ngIf="testrole==='admin'" class="btn btn-primary pull-right" (click)="openLg(content)"><i class="ft ft-user"></i>&nbsp;&nbsp;Add User</button>
        <button *ngIf="testrole !=='admin'" class="btn btn-primary pull-right" (click)="openLg(content)" disabled><i class="ft ft-user"></i>&nbsp;&nbsp;Add User</button>

    </div>
</div>
<br>

<div class="card">
    <div class="card-body">
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title text-primary"><i class="ft ft-user"></i>&nbsp;Add User</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                        <label for="validationCustom01">First Name</label>
                        <input class="form-control" id="validationCustom01" [(ngModel)]="data.firstname" type="text" placeholder="First name" required="">  
                </div>
                <div class="form-group">
                        <label for="validationCustom02">Last Name</label>
                        <input class="form-control" id="validationCustom02" [(ngModel)]="data.lastname" type="text" placeholder="Last name" required="">
                </div>
                <div class="form-group">
                    <label for="validationCustom01">Role</label>
                    <select class="form-control" [(ngModel)]="data.role">
                        <option value="">Select Option</option>
                        <option value="developer">Developer</option>
                        <option value="rac manager">Risk Manager</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="validationCustom02">Phone Number</label>
                    <international-phone-number [(ngModel)]="data.phone" placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="'ug'" [required]="true" #phoneNumber="ngModel" name="phone_number" [allowedCountries]="['ug','rw','in', 'ca', 'us','tz','ke']"></international-phone-number>
                </div>
               <div class="form-group">
                    <label for="validationCustom01">Work Email</label>
                    <input class="form-control" id="email" [(ngModel)]="data.email" type="text" placeholder="email" required=""> 
               </div>
    
            </div>
            <div class="modal-footer">
              <div class="text-right">
                <button type="button" class="btn btn-primary" (click)="addmethod()"><i class="ft ft-user"></i>&nbsp;Add User</button>

              </div>
            </div>
        </ng-template>
        <ng-template #edit let-modal>
            <div class="modal-header">
                <h4 class="modal-title text-primary">Edit User</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-6 mb-3"><label for="validationCustom01">First Name</label><input class="form-control" [(ngModel)]="data.firstname" id="validationCustom01" type="text" placeholder="First name" required="">
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-6 mb-3"><label for="validationCustom02">Last Name</label><input class="form-control" [(ngModel)]="data.lastname" id="validationCustom02" type="text" placeholder="Last name" required="">
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3"><label for="validationCustom03">Role</label>
                        <select class="form-control" [(ngModel)]="data.role">
                          <option value="">Select Attribute</option>
                          <option *ngFor="let i of roles" [ngValue]="i">{{i | titlecase}}</option>
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom04">Phone Number</label>
                        <international-phone-number [(ngModel)]="data.phone" placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="'ug'" [required]="true" #phoneNumber="ngModel" name="phone_number" [allowedCountries]="['ug','rw','in', 'ca', 'us','tz','ke']"></international-phone-number>
                        <!-- <input class="form-control" id="validationCustom04" type="text"  placeholder="Phone Number" required=""> -->
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3"><label for="validationCustom04">Work Email</label><input class="form-control" id="email" type="text" [(ngModel)]="data.email" placeholder="Work email" required="">
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="edituser()"><i class="ft ft-user"></i>&nbsp;Save</button>
            </div>
        </ng-template>
        
            <div id="dt-base_wrapper" class="dataTables_wrapper dt-bootstrap4">
                
                <div class="col-sm-12" style="overflow-x:auto;">
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
    
                        </div>
                        <div class="col-sm-6 col-md-4">
                                <!-- <div class="form-inline  mb-3 mt-3 pull-right">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                        <input class="form-control form-control-sm ml-3" type="text" placeholder="Search" [(ngModel)]="term"
                                        aria-label="Search">
                                </div> -->
                                <div class=" mb-3 mt-3 input-group-icon input-group-icon-left mail-search-wrapper __web-inspector-hide-shortcut__"><span class="input-icon input-icon-left"><mat-icon class="text-muted mat-icon material-icons" role="img" aria-hidden="true">search</mat-icon></span><input class="form-control ng-pristine ng-valid ng-touched" placeholder="Search User"  [(ngModel)]="term"></div>
                            <!-- <div id="dt-base_filter" class="dataTables_filter pull-right mb-3 mr-2"><label>Search:<input type="search" [(ngModel)]="term" class="form-control form-control-sm" [(ngModel)]="term" placeholder="" aria-controls="dt-base"></label></div> -->
                        </div>
                    </div>
                <div style="overflow-x:auto;">
                    <table class="table table-striped  table-hover">
                        <thead>
                            <tr>
                                <th class="text-left">First Name</th>
                                <th class="text-left">Last Name</th>
                                <th class="text-left">Phone Number</th>
                                <th class="text-left">Email</th>
                                <th class="text-left">Role</th>
                                <th  *ngIf="testrole == 'admin'" class="text-left">Edit</th>
                                <th  *ngIf="testrole == 'admin'" class="text-left">Status</th>
                                <th *ngIf="testrole == 'admin'" class="delete">Disable/Enable</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of list |filter:term; let i = index '>
                                <td>{{data.firstname}}</td>
                                <td>{{data.lastname}}</td>
                                <td>{{data.phone}}</td>
                                <td>{{data.email}}</td>
                                <td *ngIf="data.role== 'admin'">Admin</td>
                                <td *ngIf="data.role== 'developer'">Developer</td>
                                <td *ngIf="data.role== 'rac manager'">Risk Manager</td>
                                <td *ngIf="data.role == 'admin' && testrole == 'admin'"></td>
                                <td *ngIf="data.role !== 'admin' && testrole == 'admin'">
                                    <a style="cursor: pointer;"  (click)="openModal(edit, data)"><i class="ft ft-edit"></i></a>
                                </td>
                                <td *ngIf="data.active === true && testrole == 'admin'" >Active</td>
                                <td *ngIf="data.active === false && testrole == 'admin'" >Inactive</td>
                                <td *ngIf="data.role === 'admin' &&  testrole == 'admin'"></td>
                                <td *ngIf="data.role !== 'admin' && testrole == 'admin'"><label class="ui-switch switch-solid"><input type="checkbox"  [checked]="checkout(data)" (change)="change($event, data._id)"><span></span></label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
                    <div class="row">
                        <div class="col-md-12">
                                <div> 
                                    <mat-progress-spinner  style="margin:0 auto;"
                                        class = "tp-margin"
                                        [diameter]="50" 
                                        [color] = "color"
                                        [mode] = "mode"
                                        [value] = "values" *ngIf="showSpinner">
                                     </mat-progress-spinner>
                                </div>
                                <div *ngIf="show" >
                                    <div class="text-center animated zoomIn  mt-3">
                                            <img src="assets/img/image.png" class="animated shake">
                                        <p>No Transactions Yet</p> 
                                    </div>
                                </div>
                        </div>
                </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                        </div>
                        <div class="col-sm-12  col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers justify-content-end" id="dt-base_paginate">
                                <ul class="pagination  justify-content-end">
                                    <!-- <li class="paginate_button page-item " ><a aria-controls="dt-base" data-dt-idx="1" tabindex="0" class="page-link" >Previous</a></li> -->
                                    <!-- <li class="paginate_button page-item  previous disabled" id="dt-base_previous" ><a aria-controls="dt-base" data-dt-idx="0" tabindex="0" class="page-link" (click)="showtoast()">Previous</a></li> -->
                                    <li class="paginate_button page-item " ><a aria-controls="dt-base" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <!-- <li class="paginate_button page-item  next" ><a aria-controls="dt-base" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        
    </div>
    <ng-template #LoginModal let-modal>
        <app-modal></app-modal>
    </ng-template>
