
.delete {
    text-align: center;
}
.text-primary {
    color: black !important;
}

.btn-primary {
    background-color: #2949ef !important;
}


/* .btn-outline-success:hover {
    background-color: #00BA7B !important;
    color: white !important;
} */

a {
    padding: 10px !important;
    color: #2949ef;
    cursor: pointer;
}

tfoot {
    display: table-header-group !important;
    vertical-align: middle;
    border-color: inherit;
}


.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2949EF !important;
}

.btn-success {
    background-color: #2949EF !important;
}

.md-drppicker .btn {
    background-color: #00BA7B !important;
}

.shake {
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-iteration-count: 15;
}

.btn-danger {
    background-color: red !important;
}

.shake {
    animation-duration: 6s !important;
    animation-delay: 2s !important;
    width: 80px !important;
    animation-iteration-count: infinite;
}

img[_ngcontent-c10] {
    max-width: 100% !important;
}

.table thead th {
    vertical-align: bottom;
    /* border-bottom: 1px solid #dee2e6 !important; */
    border-top: 1px solid #dee2e6 !important;
    font-weight: 600;
}

.table tbody {
    vertical-align: bottom;
    /* border-bottom: 1px solid #dee2e6 !important; */
  }

  .page-item.active[_ngcontent-c22] .page-link[_ngcontent-c22] {
    z-index: 1;
    color: #2949EF;
    /* background-color: #2949EF !important; */
}
/*   
.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
} */