<div class="row">
    <div class="col-md-9">
        <h5 class="text-left "><strong>Transaction ID</strong>: &nbsp;
            <span class="text-primary font-8">{{id}}</span>
        </h5>
    </div>

    <div class="col-md-3">
    </div>
</div>
<hr class="my-4">
<div class="row mt-5">
    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-primary">Account</h5>
                <hr>
                <p class="card-text"><strong>Account Number</strong>: &nbsp;{{data?.transactiondata?.accountDetails?.userId}}</p>
                <p class="card-text"><strong>Subscription ID</strong>: &nbsp; <span class="font-size-12">N/A</span></p>
                <p class="card-text"><strong>Phone Number</strong>: &nbsp; <span class="font-size-12">N/A</span></p>
                <!-- <p class="card-text"><strong>Creation Date</strong>: &nbsp;{{data?.createdAt | date:'short'}}</p> -->
                <div class="flexbox">
                    <a href="#"></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-primary">Transaction</h5>
                <hr>
                <p class="card-text"><strong>Amount</strong>: &nbsp;{{data?.transactiondata?.amount?.amount}} <span *ngIf="!data?.transactiondata?.amount?.amount">N/A</span></p>
                <p class="card-text"><strong>Payment Method</strong>: &nbsp; <span *ngIf="data?.transactiondata?.paymentMethod.name !== 'mobilemoney'">{{data?.transactiondata?.paymentMethod.name}}</span> <span *ngIf="data?.transactiondata?.paymentMethod.name == 'mobilemoney'">Mobile Money</span></p>
                <p class="card-text"><strong>Product</strong>:&nbsp; {{data?.transactiondata?.productDetails?.name}}</p>
                <p class="card-text"><strong>Date</strong>: &nbsp;{{data?.transactiondata?.transactionDate | date:'short'}}</p>
                <div class="flexbox">
                    <a href="#"></a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-primary">Device</h5>
                <hr>
                <p class="card-text"><strong>Device ID</strong>: {{data?.transactiondata?.deviceDetails?.deviceId}}</p>
                <p class="card-text"><strong>IMEI</strong>: {{data?.transactiondata?.deviceDetails?.imei}}</p>
                <p class="card-text"><strong>Channel ID</strong>: N/A</p>
                <!-- <p class="card-text">Address :</p> -->
                <div class="flexbox">
                    <a href="#"></a>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-primary">Billing</h5>
                <hr>
                <p class="card-text"><strong>Card Type</strong>:&nbsp;<span>N/A</span></p>
                <p class="card-text"><strong>Credit Card Number</strong>:&nbsp;<span>N/A</span></p>
                <p class="card-text"><strong>Card Holder Name</strong>:&nbsp;<span>N/A</span></p>
                <p class="card-text"><strong>Address</strong>:&nbsp;<span>N/A</span></p>
                <div class="flexbox">
                    <a href="#"></a>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #LoginModal let-modal>
    <app-modal></app-modal>
</ng-template>







