<div class="row">
    <div class="col-md-9">

        <h5 class=""> Cards Blacklist</h5>
        <small class="text-muted">Cards not accepted to carry out transactions.</small>

    </div>
    <div class="col-md-3"><button class="btn btn-danger pull-right" (click)="openBackDropCustomClass(content)"><i class="ft ft-shield"></i> &nbsp;Add To Blacklist</button></div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title text-primary  font-15">Add Card to Blacklist</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Scheme:</label> <span class="ml-2"><img style="max-width: 10% !important;" src={{imagepath}} alt=""></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Prefix&nbsp;(First 4 digits on card)</label>
                        <input class="form-control" formControlName="prefix"  id="validationCustom02" type="text"  (input)="onCardinput($event.target.value)">
                        <div *ngIf="prefix.touched && prefix.invalid"  class="text-danger">
                            <div *ngIf="!!prefix.errors?.required" style="font-size: 80%; margin-top: 0.25rem;">
                                prefix is required
                            </div>
                            <div *ngIf="!!prefix.errors?.maxlength" style="font-size: 80%; margin-top: 0.25rem;">
                                Maximum 4 characters 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Surfix&nbsp;(Last 4 digits on card)</label>
                        <input class="form-control" formControlName="suffix" id="validationCustom03" type="text" >
                        <div *ngIf="suffix.touched && suffix.invalid"  class="text-danger">
                            <div *ngIf="!!suffix.errors?.required" style="font-size: 80%; margin-top: 0.25rem;">
                                Suffix is required
                            </div>
                            <div *ngIf="!!suffix.errors?.maxlength" style="font-size: 80%; margin-top: 0.25rem;">
                                Maximum 4 characters 
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger" (click)="addmethod()" [disabled]="!form.valid"><i class="ft ft-shield mr-2"></i>Blacklist</button>
                    </div>
                </form>
            </div>
        </ng-template>

        <div>
            <div id="dt-base_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-md-3">
                            <div class="input-group-icon input-group-icon-left input-group-lg mb-4"><span class="input-icon input-icon-left"><i class="ti-search"></i></span><input class="form-control font-weight-light border-0" type="text" placeholder="Search ..." style="box-shadow:0 3px 6px rgba(10,16,20,.15);"></div>

                    </div>
                    <div class="col-md-9">
                            <!-- <div class="form-inline mb-3 pull-right">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                    <input class="form-control form-control-sm ml-3" type="text" placeholder="Search" [(ngModel)]="term"
                                    aria-label="Search">
                            </div> -->
                        <!-- <div id="dt-base_filter" class="dataTables_filter pull-right mr-3 mb-4"><input type="search" [(ngModel)]="term" class="form-control form-control-sm" placeholder="Search" aria-controls="dt-base"></div> -->
                    </div>
                </div>
             
                <div style="overflow-x:auto;">
                    <table class="table table-striped table-hover table-hover w-100 dataTable" id="dt-base">
                        <thead>
                            <tr>
                                <th>Scheme</th>
                                <th>Prefix</th>
                                <th>Suffix</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let card of list|filter:term">
                                <td><img style="max-width: 7% !important;" src={{showIcon(card.prefix)}} alt=""></td>
                                <td>{{card.prefix}}</td>
                                <td>{{card.suffix}}</td>
                                <td class="delete" (click)="removeCard(card._id)"><a style="cursor:pointer !important"><i class="text-danger ti-close"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                        <div class="col-md-12">
                                <div> 
                                    <mat-progress-spinner  style="margin:0 auto;"
                                        class = "tp-margin"
                                        [diameter]="50" 
                                        [color] = "color"
                                        [mode] = "mode"
                                        [value] = "values" *ngIf="showSpinner">
                                     </mat-progress-spinner>
                                </div>
                                <div *ngIf="show" >
                                    <div class="text-center animated zoomIn  mt-3">
                                            <img src="assets/img/image.png" class="animated shake">
                                        <p>No Transactions Yet</p> 
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="row" *ngIf="list?.length > 0">
                    <div class="col-sm-12 col-md-9">

                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="dataTables_paginate paging_simple_numbers" id="dt-base_paginate">
                            <ul class="pagination justify-content-end">
                                <!-- <li class="paginate_button page-item previous disabled" id="dt-base_previous"><a href="#" aria-controls="dt-base" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li> -->
                                <li class="paginate_button page-item active"><span  aria-controls="dt-base" data-dt-idx="1" tabindex="0" class="page-link">1</span></li>
                                <!-- <li class="paginate_button page-item "><a href="#" aria-controls="dt-base" data-dt-idx="2" tabindex="0" class="page-link">2</a></li> -->
                                <!-- <li class="paginate_button page-item next" id="dt-base_next"><a href="#" aria-controls="dt-base" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #LoginModal let-modal>
    <app-modal></app-modal>
</ng-template>


