<div class="animated zoomIn">
    <div class="text-center">
        <h1 class="mb-5">Check your email.</h1>
        <h2>Before you can access your account we need to verify your email address.</h2>
        <p>Please check your inbox for a message from us. You’ll find the confirmation link inside. You have been sent an email</p>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center"> <button class="btn btn-primary" (click)="confirmemail()">Resend Email</button></div>
        <div class="col-md-4"></div>
    </div>
</div>
