<div class="container">
  <div><h3 class="text-left">Getting Started</h3></div>
  <hr>
  <p>RAC authenticates your API requests using your account’s API keys. If you do not include your key when making an API request or use one that is incorrect or outdated, Rave returns an error.

      All API requests exist in either test or live mode, and one mode cannot be manipulated by data in the other. To get your live and test API keys sign up here</p>
 <code>A piece of computer code</code>
</div>

