<subheader title="Bureau Dashboard"></subheader>

<div>
        <div>
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3 font-15 text-muted font-weight-normal">RECORDS</h6>
                                <div class="h2 mb-0 font-weight-normal">+310</div><i class="ft-shopping-cart data-widget-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3 font-15 text-muted font-weight-normal">EARNINGS</h6>
                                <div class="h2 mb-0 font-weight-normal">$7450</div><i class="ft-dollar-sign data-widget-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3 font-15 text-muted font-weight-normal">NEW USERS</h6>
                                <div class="h2 mb-0 font-weight-normal">+740</div><i class="ft-user data-widget-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3 font-15 text-muted font-weight-normal">RATE</h6>
                                <div class="h2 mb-0 font-weight-normal">45%</div><i class="ft-activity data-widget-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="box-title">Records</h5>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div>
                                            <div style="height: 168px">
                                                    <canvas baseChart height="168px" 
                                                        [data]="doughnutChart.data"
                                                        [labels]="doughnutChart.labels"
                                                        [chartType]="doughnutChart.type"
                                                        [legend]="doughnutChart.legend"
                                                        [colors]="doughnutChart.colors"
                                                        [options]="doughnutChart.options"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        </div>
                        <div class="card">
                                <div class="card-body">
                                    <h5 class="box-title">Rates</h5>
                                    <div>
                                        <div class="h6">Average profit</div>
                                        <div class="media align-items-center mb-4">
                                            <div class="media-body">
                                                <div class="progress" style="height: 10px; box-shadow: 0 4px 4px rgba(0,0,0,.08);">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div><span class="h5 mb-0 ml-4">80%</span>
                                        </div>
                                        <div class="h6">Affiliate Rate</div>
                                        <div class="media align-items-center mb-4">
                                            <div class="media-body">
                                                <div class="progress" style="height: 10px; box-shadow: 0 4px 4px rgba(0,0,0,.08);">
                                                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div><span class="h5 mb-0 ml-4">40%</span>
                                        </div>
                                        <div class="h6">Avg. order percentage</div>
                                        <div class="media align-items-center mb-4">
                                            <div class="media-body">
                                                <div class="progress" style="height: 10px; box-shadow: 0 4px 4px rgba(0,0,0,.08);">
                                                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div><span class="h5 mb-0 ml-4">70%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                   <div class="col-lg-6">
                        <div class="card card-fullheight">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                                            <h5 class="box-title mb-2">Record</h5>
                                            <div class="text-muted font-13">Simple Subtitle</div>
                                        </div>
                                        <a class="text-muted" href="javascript:;"><i class="ti-more-alt"></i></a>
                                    </div>
                                    <div>
                                        <canvas baseChart height="280"
                                                [datasets]="lineChart.data"
                                                [labels]="lineChart.labels"
                                                [options]="lineChart.options"
                                                [colors]="lineChart.colors"
                                                [chartType]="lineChart.type">
                                            </canvas>
                                    </div>
                                    <div class="flexbox flex-wrap mt-5">
                                        <div class="d-flex mb-4 mb-sm-0">
                                            <div class="pr-4 pr-sm-5">
                                                <h6 class="mb-2 font-15 text-muted">Total Orders</h6>
                                                <div class="h4 mb-0 text-primary">+24.50%</div>
                                            </div>
                                            <div class="pl-0 pl-sm-5">
                                                <h6 class="mb-2 font-15 text-muted">Total Income</h6>
                                                <div class="h4 mb-0 text-danger">+$625.50</div>
                                            </div>
                                        </div>
                                        <!-- <button class="btn btn-primary">Print Data</button> -->
                                    </div>
                                </div>
                            </div>
                   </div>
                </div>

                <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-fullheight">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div>
                                            <h5 class="box-title mb-2">Latest Transactions</h5>
                                            <div class="text-muted font-13">Simple Subtitle</div>
                                        </div>
                                        <!-- <div><button class="btn btn-floating btn-sm btn-light"><i class="ti-export"></i></button></div> -->
                                    </div>
                                    <div class="card-fullwidth-block">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead class="thead-default thead-lg">
                                                    <tr>
                                                        <th class="pl-4">Order ID</th>
                                                        <th>Customer</th>
                                                        <th>Amount</th>
                                                        <th>Date</th>
                                                        <th class="pr-4">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="pl-4"><a href="javascript:;">#1149</a></td>
                                                        <td>Jonathan Due</td>
                                                        <td>$640.00</td>
                                                        <td class="pr-4">24.12.2018</td>
                                                        <td><i class="material-icons text-success">check</i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pl-4"><a href="javascript:;">#1149</a></td>
                                                        <td>Jonathan Due</td>
                                                        <td>$640.00</td>
                                                        <td class="pr-4">24.12.2018</td>
                                                        <td><i class="material-icons text-danger">close</i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pl-4"><a href="javascript:;">#1149</a></td>
                                                        <td>Jonathan Due</td>
                                                        <td>$640.00</td>
                                                        <td class="pr-4">24.12.2018</td>
                                                        <td><i class="material-icons text-success">check</i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pl-4"><a href="javascript:;">#1149</a></td>
                                                        <td>Jonathan Due</td>
                                                        <td>$640.00</td>
                                                        <td class="pr-4">24.12.2018</td>
                                                        <td><i class="material-icons text-success">check</i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pl-4"><a href="javascript:;">#1149</a></td>
                                                        <td>Jonathan Due</td>
                                                        <td>$640.00</td>
                                                        <td class="pr-4">24.12.2018</td>
                                                        <td><i class="material-icons text-danger">close</i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pl-4"><a href="javascript:;">#1149</a></td>
                                                        <td>Jonathan Due</td>
                                                        <td>$640.00</td>
                                                        <td class="pr-4">24.12.2018</td>
                                                        <td><i class="material-icons text-success">check</i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pl-4"><a href="javascript:;">#1149</a></td>
                                                        <td>Jonathan Due</td>
                                                        <td>$640.00</td>
                                                        <td class="pr-4">24.12.2018</td>
                                                        <td><i class="material-icons text-danger">close</i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pl-4"><a href="javascript:;">#1149</a></td>
                                                        <td>Jonathan Due</td>
                                                        <td>$640.00</td>
                                                        <td class="pr-4">24.12.2018</td>
                                                        <td><i class="material-icons text-success">check</i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pl-4"><a href="javascript:;">#1149</a></td>
                                                        <td>Jonathan Due</td>
                                                        <td>$640.00</td>
                                                        <td class="pr-4">24.12.2018</td>
                                                        <td><i class="material-icons text-danger">close</i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>

</div>