
@import '../../../../..//@theme/scss/components/functions';
@import '../../../../../@theme/scss/components/mixins';
@import '../../../../../@theme/scss/components/variables';

:host {
    ngb-tabset .nav-pills {
        height: 80px;
        display: flex;
        align-items: center;
    }
}
